.search-form-container {
  margin-top: 20px;
}

.label-form {
  color: hsla(192, 88%, 7%, 0.685);
  font-size: 36px;
  margin-right: 20px;
}

.form-control {
  color: rgba(130, 163, 163, 0.993);
  padding-left: 20px;
  font-size: 30px;
  outline: rgba(130, 163, 163, 0.705) solid 4px;
}

.form-control[placeholder='search for ...'] {
  font-size: 45px;
}
